* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.wrapper-full {
    grid-template-columns: 1fr;
}

.aside-left section {
    height: 300px;
}

.aside-right section {
    height: 200px;
}

.hide-sidebars .aside-left,
.hide-sidebars .aside-right {
    display: none;
}

#map {
    height: 100vh;
    width: 100%;
}

main {
    width: 100%;
}

.marker,
img {
    width: 40px;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}