* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    /* Prevent scrolling */
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#map.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.wrapper-full {
    grid-template-columns: 1fr;
}

.spotlight-section {
    height: 10rem;
}


/* .aside-left section { */
/* height: 300px;
}

.aside-right section {
    height: 200px;
} */

.hide-sidebars .aside-left,
.hide-sidebars .aside-right {
    display: none;
}

#map {
    height: 100vh;
    width: 100%;
}

main {
    width: 100%;
}

.marker,
img {
    width: 40px;
}

.github-links {
    display: block;
}

.spotlight-header {
    display: flex;
    justify-content: space-between;
}

.random-station-btn {
    border: none;
    background-color: transparent;
    color: #551A8B;
    text-decoration: underline;
}