<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer type="module" src="./client.js"></script>
</head>
<body> 
    <div class="wrapper">
        <aside class="aside-left">
            <section class="spotlight-section"> 
                
            </section>
            <section class="stats-section">
                <h1>Stats</h1>
                <h3>total stations: 5244</h3>
                <h3>total owners: 32</h3>
                <table class="stats-info-table">
                    <tr>
                        <td>Caltex</td>
                        <td>1502</td>
                    </tr>
                    <tr>
                        <td>BP</td>
                        <td>1230</td>
                    </tr>
                    <tr>
                        <td>Shell</td>
                        <td>838</td>
                    </tr>
                    <tr>
                        <td>7-Eleven Pty Ltd</td>
                        <td>742</td>
                    </tr>
                    <tr>
                        <td>Independent Fuel Supplies</td>
                        <td>386</td>
                    </tr>
                    <tr>
                        <td>United</td>
                        <td>216</td>
                    </tr>
                    <tr>
                        <td>Ampol</td>
                        <td>86</td>
                    </tr>
                </table>
            </section>
            <section class="current-weather-section">
                <h1>current weather</h1>
            </section>
            <section class="about-section">
                <b>Pipelines</b>
                Chris: <a href="https://github.com/christianleong">Github</a>
                Lea: <a href="https://github.com/marianlea">Github</a>
                Ben: <a href="https://github.com/Ben-Arlanda">Github</a>
                Arnav: <a href="https://github.com/yangzhie">Github</a>
                <button id="random-station-btn">Random Petrol Station</button>
            </section>
        </aside>
        <main>
            <div id="map">

            </div>
        </main>
        <aside class="aside-right">
            <section class="current-time-section">

            </section>
            <section class="map-centre-location-section">
                <h1>map center location</h1>
            </section>
            <section class="nearest-section">
                <h1 class="nearest-title">nearest</h1>
            </section>
        </aside>
    </div>

    <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "<%= process.env.MAP_KEY %>", v: "weekly"});
        </script>
</body>
</html>