<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer type="module" src="./client.js"></script>
</head> 
<body> 
    <div class="wrapper">
        <aside class="aside-left">
            <section class="spotlight-section">
                <div class="title-div">
                    <h2 class="spotlight-h2">
                        Spotlight
                    </h2>
                    <button class="random-station-btn">refresh spotlight</button>
                </div> 
                <section class="random-station-info">
                </section>
            </section>
            <section class="stats-section">
                <h2>Stats</h2>
            </section>
            <!-- <section class="current-weather-section">
                <h2>Current Weather</h2>
            </section> -->
            <section class="about-section">
                <h2>About</h2>
                <h3>Pipeline Contributors</h3>
                <div class="github-links">
                    <img src="/images/chris.png" alt="" class="contributor-avatar ">
                    <div class="contributor-info-div
                    ">
                        <p>Chris</p>
                        <p><a href="https://github.com/christianleong">github.com/christianleong</a></p>
                    </div>
                </div>
                <div class="github-links">
                    <img src="/images/lea.png" alt="" class="contributor-avatar ">
                    <div class="contributor-info-div
                    ">
                        <p>Lea</p>
                        <p><a href="https://github.com/marianlea">github.com/marianlea</a></p>
                    </div>
                </div>
                <div class="github-links">
                    <img src="/images/ben.png" alt="" class="contributor-avatar ">
                    <div class="contributor-info-div
                    ">
                    <p>Ben</p>
                    <p><a href="https://github.com/Ben-Arlanda">github.com/Ben-Arlanda</a></p>
                    </div>
                </div>
                <div class="github-links">
                    <img src="/images/arnav.png" alt="" class="contributor-avatar ">
                    <div class="contributor-info-div
                    ">
                    <p>Arnav</p>
                    <p><a href="https://github.com/yangzhie">github.com/yangzhie</a></p>
                    </div>
                </div>
            </section>
        </aside>
        <main>
            <div id="map">

            </div>
        </main>
        <aside class="aside-right">
            <button id="darkModeToggle">Dark Mode</button> 
            <section class="current-time-section">

            </section>
            <section class="map-centre-location-section">
                <h2>Map Center Location</h2>
                <section class="map-centre-address-section"></section>
            </section>
            <section class="nearest-section">
                <h2 class="nearest-title">Nearest</h2>
            </section>
        </aside>
    </div>

    <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "<%= process.env.MAP_KEY %>", v: "weekly",});
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    
</body>
</html>